body { background: #EAEAEA; }

.app-title { font-size: 32px; }
.view-grid {
    background: url("../images/grid.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 32px;
    width: 32px;
    float: right;
}

#switchPanels dd {  }
#switchPanels .left { float: right !important; }

.mobile-header {
  display: block;
  background: #EAEAEA;
  color: #ACACAC;
  padding: 0px 10px;
}