body { background: #EAEAEA; }

.view-grid {
    background: url("../images/grid.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 32px;
    width: 32px;
    float: right;
}

#switchPanels dd { border-radius: 6px 6px 0 0; }
#switchPanels .left { float: right !important; }

.mobile-header {
  display: block;
  background: #EAEAEA;
  color: #ACACAC;
  padding: 0px 10px;
}