body {
  background: #EAEAEA;
  position: absolute;
  top: 0;
}

.app-title { font-size: 32px; }
.view-grid {
    background: url("../images/grid.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 32px;
    width: 32px;
    float: right;
}

#switchPanels dd {  }
#switchPanels .left { float: right !important; }

.mobile-header {
  display: block;
  background: #EAEAEA;
  color: #ACACAC;
  padding: 0px 10px;
}

#myLocationButton{
  background: url("../images/location.png") no-repeat center;
  width: 32px;
  height: 32px;
  display: block;
  position: relative;
  z-index: 2;
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
  height: 32px;
  line-height: 31px;
  text-indent: -10000px;
}