<!DOCTYPE html>

{% block header %} 
<head>
  
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />
  
  <!-- Included JS Files (Compressed) -->
  <script src="javascripts/jquery.js"></script>
  <script src="javascripts/foundation.min.js"></script>
  
  <!-- Initialize JS Plugins -->
  <script src="javascripts/app.js"></script>
  <title>Welcome to Foundation</title>

  <!-- Included CSS Files (Uncompresed) -->
  
  <link rel="stylesheet"
href="//fonts.googleapis.com/css?family=Roboto:regular,medium,thin,italic,mediumitalic,bold" title="roboto">
    
  <link rel="stylesheet" href="css/foundation.css">
  <link rel="stylesheet" href="css/app.css">
    
  {% block styles %}{% endblock %}

  <script src="javascripts/modernizr.foundation.js"></script>
  
  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  
  {% block scripts %}{% endblock %}
  
{% endblock %}

</head>
<body>
  
{% block body %} 
 
  <div class="row">
    <div class="twelve columns">
      <h2>Transport.</h2>
      <p>This is version <strong>3.2.0</strong> generated on October 27, 2012.</p>
      <hr />
    </div>
  </div>

  {% block content %}{% endblock %}
 
{% endblock %}

</body>
</html>